#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 1000;
    background-color: var(--white);
    border-right: 1px solid var(--black700);
    color: var(--black);
}
#main {
    color: var(--black);
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
    padding-left: 260px;
}
#footer {
    text-align: center;
    background-color: #333;
    padding: 20px 20px 20px 260px;
}